<ion-header>
    <ion-toolbar>
        <ion-title>
            Anasayfa
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img (click)="takePhoto()" id="image" [src]="myPhoto" alt=""/>
        <ion-header>Lütfen resmin üzerine tıklayarak resim yükleyiniz.</ion-header>
        <ion-card-content>
            <ion-item *ngFor="let item of predictions">
                {{item.className}} ({{item.probability}})
            </ion-item>
            <ion-button (click)="run()">Yenile</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
